html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-beidge);
    /* footer support */
    margin-bottom: 100px;
}

.container {
}

.books-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-xl);
    margin-top: var(--spacing-xl);
}


:root {
    --background-beidge: antiquewhite;
    --dark-brown: rgb(55, 32, 2);
    --brown: brown;
    --white: aliceblue;
    --card-color: rgb(255, 246, 234);
    --spacing-xl: 20px;
}

img[alt="Book"] {
    width: 90px; 
    height: 90px;
}

header {
    display: flex;
    padding-left: 50px;
    align-items: center;
    gap: 10px;
}

h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    color: var(--dark-brown);
}

.button {
    display: flex;
    justify-content: center;
    margin: 40px;
}

button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: var(--brown);
    color: var(--white);
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, padding-left 0.3s;
}

button:hover {
    transform: scale(1.1);
    padding-left: 2.5rem;
}

button::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 86%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--white);
    opacity: 0;
    transition: opacity 0.3s;
}

button:hover::before {
    opacity: 1;
}

.book-card {
    width: 300px;
    height: 400px;
    background-color: var(--card-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(46, 1, 1, 0.2);
}

footer {
    position: absolute;
    bottom: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 16px 0;
    opacity: 0.7;
}

.github {
    height: 30px;
    opacity: 0.8;
}